In [1]:
import sys
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
from mcmc import *
from parallel import *
from fit_prior import read_prior_par

import plotly.graph_objects as go

## Import data and building dataframe

In [13]:
filename = './Results/2107_Investigate_complexity_factor/Nitrogen_20_10_4/All_Models175871.txt'
models_df = pd.read_csv(filename, delimiter=',')
models_df

,Model,Total num ops,Description length,EB,EP,SSE,TC Bool,Axiom,_a0_,_a1_,_a2_,_a3_
0,_a3_,0,65.69362,45.69362,20.0,942.44917,False,Axiom 1,1.000000,1.00000,1.000000,1.995833e+01
1,_a3_,0,65.69362,45.69362,20.0,942.44917,False,Axiom 1,1.000000,1.00000,1.000000,1.995833e+01
2,_a3_,0,65.69362,45.69362,20.0,942.44917,False,Axiom 1,1.000000,1.00000,1.000000,1.995833e+01
3,_a3_,0,65.69362,45.69362,20.0,942.44917,False,Axiom 1,1.000000,1.00000,1.000000,1.995833e+01
4,_a3_,0,65.69362,45.69362,20.0,942.44917,False,Axiom 1,1.000000,1.00000,1.000000,1.995833e+01
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,((p / (((_a3_ + ((_a1_ * (_a0_ * p)) * _a3_)) ...,15,68.88355,8.88355,60.0,1.34894,True,NaN,0.162325,0.97578,20.573099,-3.388286e+304
99996,((p / (((_a3_ + ((_a1_ * (_a0_ * p)) * _a3_)) ...,15,68.88355,8.88355,60.0,1.34894,True,NaN,0.162325,0.97578,20.573099,-3.388286e+304
99997,((p / (((_a3_ + ((_a1_ * (_a0_ * p)) * _a3_)) ...,15,68.88355,8.88355,60.0,1.34894,True,NaN,0.162325,0.97578,20.573099,-3.388286e+304
99998,((p / (((_a3_ + ((_a1_ * (_a0_ * p)) * _a3_)) ...,15,68.88355,8.88355,60.0,1.34894,True,NaN,0.162325,0.97578,20.573099,-3.388286e+304
99999,((p / (((_a3_ + ((_a1_ * (_a0_ * p)) * _a3_)) ...,15,68.88355,8.88355,60.0,1.34894,True,NaN,0.162325,0.97578,20.573099,-3.388286e+304

In [10]:
fig = go.Figure()

fig.add_trace(go.Scatter(x=np.arange(len(models_df.index)),
                         y=np.array(models_df['Description length']).astype(float), 
                         opacity=0.5,
                         marker=dict(size=10,
                                     line=dict(color='White',
                                               width=0.5)),
                         hovertemplate='Model: %{text}' 
                         '<br>MCMC step: %{x}' 
                         '<br>Description length: %{y:4.4f}'
                         '<br>a<sub>0</sub>: %{customdata[0]:4.4f}'
                         '<br>a<sub>1</sub>: %{customdata[1]:4.4f}'
                         '<br>a<sub>2</sub>: %{customdata[0]:4.4f}'
                         '<br>a<sub>3</sub>: %{customdata[0]:4.4f}',                         
                         text=models_df['Model'],
                         customdata=models_df[['_a0_','_a1_','_a2_','_a3_']],
                         name='Trajectory',
                         showlegend=True
                        )
             )

fig.update_layout(title='Trajectory of models by BMS on Nitrogen dataset - Setting: axiom1_weight = 20, axiom2_weight = 10, complexity_factor = 4',
                  xaxis_title='MCMC step',
                  yaxis_title='Description length',
                  autosize=False,
                  width=1600,
                  height=800,
                 )

fig.write_html( './Results/2107_Investigate_complexity_factor/Nitrogen_20_10_4/MDL_N2_20104_100000.html')